
body {
        background: #ffffff;
        color: #000000;
        font-family: Verdana, "Bitstream Vera Sans", sans-serif;
	line-height: 1.8em;
        margin-left: 20px;
}

#hd h1{
        margin-top: 50px;
        font-size: 250%;
        height: 50px;
}

.rcolumn{
        border: 1px solid #666;
        height: 500px;
}

.rcolumn .title{
        background: #333;
        color: white;
        padding-left: 5px;
        margin-bottom: 10px;
        text-align: left;
}

.listbox{
        overflow: auto;
        height: 90%;
}

.rcolumn input{
        border: 1px solid #aaa;
        width: 97%;
        margin-bottom: 10px;
}

#nodelist{
}

.legend{
        color: #666;
        font-size: 90%;
        line-height: 1em;
        margin-bottom: 10px;
        margin-left: 5px;
}

#domainstat table{
        margin-left: 20px;
}

#domainstat table thead{
        color: #8f138b;
        font-weight: bold;
}

#domainstat table td{
        padding-right: 20px;
}

#domainbox{
        text-align: center;
}

#domainlist{
        text-align: left;
}

.domain{
        color: #8f138b;
}

.chunk{
        color: black;
}

.listitem{
        cursor: pointer;
        padding-left: 10px;
        padding-right: 10px;
}

.chosen{
        background: #FFF7BF;
}

#ownritem{
        color: #8f138b;
        font-weight: bold;
}

.replitem{
        padding-left: 20px;
}

.listitem:hover{
        background: #FFDE00; 
}

.active{
        background: #FFDE00; 
}

.warn{
        background: #FFC9BF;
}

.nodenfo{
        color: #8f138b;
	line-height: 1.0em;
        margin-bottom: 5px;
        margin-left: 20px;
        font-size: 90%;
}

#ringlist{
}

.hexid{
        font-size: 90%;
        color: black;
}
.host{
        color: #8f138b;
        font-weight: bold;
}

